body {
    background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}

.bigbox {
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#letter-div {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

#letter {
    font-family: 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    font-size: 24px;
}

#result-div {
  background-color: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

img {
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 10px auto;
}

#result {
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
  
/* Timer Bar */
.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: 50px;
    overflow: hidden;
}

.background-bar, .color-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-bar {
    background: #ddd;
}

.color-bar {
    background-image: linear-gradient(to bottom, #b6b6b6, #696969);
    animation: scaleDown 10s linear;
    animation-fill-mode: forwards;
}

@keyframes scaleDown {
    0% { width: 100%; }
    100% { width: 0%; }
}

/* Microphone */
.divception {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.google-microphone {
  margin: 0;
  padding: 0;
  width: 10em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  position: relative;
  margin: 5% auto;
  border-radius: 50%;
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.25,0.1,0.25,1) 0s;
}

.gn{
  position:relative;
  margin: 5% auto;
  background-color: #696969;
  border-radius:50%;
  width:3.5em;
  height:3.5em;
}

:before, :after{
  content:'';
  position:absolute;
  background-color:#fff;
}

.gn:after{
  top:30%; left:43%;
  height:15%; width:14%;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
}

.gn:before{
  top:40%; left:43%;
  height:15%; width:14%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}
  
.mc{
  position:absolute;
  top:50%; left:37%;
  height:24%;
  width:26.5%;
  overflow:hidden;
}

.mc:before{
  bottom:50%;
  width:100%; height:100%;
  box-sizing:border-box;
  border-radius:50%;
  border:0.1em solid #fff;
  background:none;
}
  
.mc:after{
  top:50%; left:40%;
  width:20%; height:25%;
}

#btn {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
}

.big-green {
  background: #16bb00;
  box-shadow: 0px 0px 12px 8px #16bb00;
  width: 5em;
  height: 5em;
}

.normal-white {
  background: #DBDBDB;
  box-shadow: 0px 0px 12px 8px #DBDBDB;
  width: 4em;
  height: 4em;
}